<div id="div-fondo">
    <div class="card-about">
        <img id="img-autor" src="assets/img-autor.jpeg" alt="Imagen requete fachera de la autora">
    </div>
    <div class="card-about" style="width: 600px; padding-left: 15px; padding-right: 15px; font-family: consolas; font-size: larger;"><h2>¡Hola, soy Jaz! (≧∇≦)ﾉ</h2>
    <p>Soy estudiante de Programación en la UTN (Universidad Tecnológica Nacional) en Argentina .
    Te invito a navegar por mi Sala de Juegos en la que vas a poder probar tus capacidades cognitivas
    y motrices junto a estos clásicos juegos:<br>
    - EL AHORCADO ✍<br>
    - PREGUNTADOS🎬 (edición Studio ghibli)<br>
    - ¿MAYOR O MENOR?🃏<br>
    y por último SIMÓN DICE🧠, donde vas a poner a prueba tu memoria siguiendo una secuencia de colores<br>
    pero ¡no tan rápido! solo tenés dos oportunidades para equivocarte. ¿Cuántas secuencias aguantará tu mente?
    </p>
    <button class="btn-about" routerLink="/home">Volver</button>
    </div>
</div>
