<div id="div-fondo">
    <mat-card id="card-login">
        <mat-card-content>
            <h1 style="text-align: center; " class="letraLinda">🎮¡Hola de nuevo!🎲</h1>
            <div id="div-input">
                <input type="email" class="input-login letraLinda" placeholder=" Ingresa tu correo electrónico">
                <input type="password" class="input-login letraLinda" placeholder=" Ingresa tu clave">
            </div>
            <div id="div-botones">
                <button class="btn-login letraLinda">¡Juguemos!</button>
                <button class="btn-login letraLinda" >Volver a casa</button>
            </div>
            <div id="btn-autocompletar">
                <button class="btn-login letraLinda">Jugador 1</button>
                <button class="btn-login letraLinda" >Jugador x</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

